.rta{    border: 1px solid;    text-align: center;}table{}table thead{}table td{}table tr{}table th{	}table tfoot{	}.total{
    border: 1px solid black;
}.totalAnnualInterest{
    border: 1px solid black;
}